# Copy this file to .env and replace values as needed
# PowerShell: Copy-Item .env.example .env

SERVER_PORT=8081
SPRING_APPLICATION_NAME=ms-usuarios
CONFIG_SERVER_URL=http://localhost:8888

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_EXCHANGE=topic-exchange
RABBITMQ_USER_QUEUE=usuario.queue
RABBITMQ_ROUTING_KEY=usuario.#
RABBITMQ_VHOST=/

USUARIOS_DB_URL=jdbc:postgresql://localhost:5432/usuario_database?currentSchema=usuarios_nuevo
USUARIOS_DB_USERNAME=postgres
USUARIOS_DB_PASSWORD=postgres

SGSI_DB_URL=jdbc:postgresql://localhost:5432/sgsidb?currentSchema=pruebas_sgsi
SGSI_DB_USERNAME=postgres
SGSI_DB_PASSWORD=postgres

STAGING_DB_URL=jdbc:postgresql://localhost:5432/usuario_database
STAGING_DB_USERNAME=postgres
STAGING_DB_PASSWORD=postgres

KEYCLOAK_ISSUER_URI=https://keycloakqa.apps.gob.bo/realms/test
KEYCLOAK_JWK_SET_URI=https://keycloakqa.apps.gob.bo/realms/test/protocol/openid-connect/certs
KEYCLOAK_CLIENT_ID=ms-usuarios-local
KEYCLOAK_CLIENT_SECRET=change_me
KEYCLOAK_AUTH_GRANT_TYPE=client_credentials
KEYCLOAK_SCOPE=openid

KEYCLOAK_SERVER_URL=https://keycloakqa.apps.gob.bo
KEYCLOAK_REALM=test
KEYCLOAK_ADMIN_CLIENT=admin-java
KEYCLOAK_ADMIN_CLIENT_SECRET=change_me

EUREKA_FETCH_REGISTRY=true
EUREKA_REGISTER_WITH_EUREKA=true
EUREKA_REGISTRY_FETCH_INTERVAL_SECONDS=5
EUREKA_DEFAULT_ZONE=http://eureka:password@localhost:8761/eureka

